.recipes {
    @include respond-to('medium') {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;
    }
    &:not(:last-child) {
        margin-bottom: $padding;
    }
}

.recipe {
    background-color: $white;
    border: 5px solid $medium-gray;
    line-height: 20px;
    padding: $padding;
    &:not(:last-child) {
        margin-bottom: 1rem;
        @include respond-to('medium') {
            margin-bottom: 0;
        }
    }
    > * {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .rating {
        svg {
            color: $amber;
        }
    }
    ul {
        padding-left: 0;
        li {
            display: block;
            list-style: none;
            margin-bottom: 1px;
            padding: 3px 3px 3px 15px;
            position: relative;
            &:before {
                content: '\2022';
                display: block;
                left: 3px;
                position: absolute;
                top: 4px;
            }
            &.highlight {
                background-color: $golden-glow;
                font-weight: 600;
                &:before {
                    font-weight: 400;
                }
            }
        }
    }
}
