#search-bar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: $padding;
    .fieldset {
        position: relative;
        width: 100%;
        svg {
            cursor: pointer;
            display: inline-block;
            position: absolute;
            right: $padding * 0.5;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    svg.filter {
        display: none;
        @media screen and (max-width: 992px) {
            color: $gray;
            cursor: pointer;
            display: inline-block;
            height: 30px;
            margin-right: $padding * 0.5;
            width: 30px;
        }
    }
}
