@use "../abstracts/variables" as *;

#search-bar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: $padding;
    .fieldset {
        position: relative;
        width: 100%;
        // clear icon
        svg {
            cursor: pointer;
            display: inline-block;
            height: 50px;
            position: absolute;
            padding: 17.5px;
            right: 0;
            width: 50px;
        }
    }
    svg.filter {
        display: none;
        @media screen and (max-width: 992px) {
            color: $gray;
            cursor: pointer;
            display: inline-block;
            height: 30px;
            margin-right: $padding * 0.5;
            width: 30px;
        }
    }
}
