// COLOR PALETTE

$black: #000000;
$bright-green: #8cc63f;
$dark-gray: #303130;
$golden-glow: #fde299;
$gray: #828282;
$light-gray: #fafafa;
$medium-gray: #f5f5f5;
$pink: #f15f7f;
$red: #bf3d27;
$white: #ffffff;

// FONTS

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400&family=Oswald:ital,wght@0,400;0,500&family=Raleway:ital,wght@0,400;0,600&display=swap');

// VARIABLES

$alt-font: Lato, arial, helvetica, sans-serif;
$default-color: $dark-gray;
$default-font: Raleway, arial, helvetica, sans-serif;
$default-size: 16px;
$line-height: 30px;
$padding: $line-height;
$serif: 'Playfair Display', georgia, utopia, serif;

// RESPONSIVE BREAKPOINTS

$breakpoints: (
    'x-large': (
        min-width: 1200px,
    ),
    'large': (
        min-width: 992px,
    ),
    'medium': (
        min-width: 768px,
    ),
    'small': (
        min-width: 544px,
    ),
    'x-small': (
        max-width: 544px,
    ),
);
