#sidebar {
    font-size: 14px;
    line-height: 25px;
    position: relative;

    @include respond-to('large') {
        float: left;
        margin-bottom: $padding;
        width: 30%;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            span.count {
                color: $gray;
                font-family: $alt-font;
                font-size: 12px;
                margin-left: 0.25em;
            }
        }
    }

    .filter {
        &:not(:last-child) {
            margin-bottom: $padding;
        }
    }

    #filters {
        @media screen and (max-width: 992px) {
            background-color: $white;
            border: 5px solid $medium-gray;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
            display: none;
            max-width: 544px;
            padding: $padding/2;
            position: absolute;
            top: 75px;
            width: 100%;

            &.open {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .filter {
                    flex-basis: 48%;
                }
            }
        }

        @include respond-to('x-small') {
            &.open {
                flex-direction: column;
                flex-wrap: nowrap;

                .filter {
                    flex-basis: 100%;
                }
            }
        }
    }
}