#sidebar {
    font-size: 14px;
    line-height: 25px;
    position: relative;

    @include respond-to('large') {
        float: left;
        margin-bottom: $padding;
        width: 30%;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            span.count {
                color: $gray;
                font-family: $alt-font;
                font-size: 12px;
                margin-left: 0.25em;
            }
        }
    }

    .filter {
        &:not(:last-child) {
            margin-bottom: $padding;
        }
    }
}
